body{
    align-items: center;
    margin: 100px;
    padding-left: 30%;
}

.main{
    width: 60%;
    border: 2px solid white;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    background-color: rgb(7, 63, 7);
    border-radius: 20px;
    text-decoration-color: black;
    color: black;
}

p{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.label{
   font-size: larger;
}

.but{
    font-size: 25px;
    padding-left: 170px;
}

input{
    padding: 5px;
}
.check{
    padding-left: 30px;
}
