*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

#i{
    background-color: white;
}
.sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    
}


.head{
    height: 20%;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    align-items: center;
    font-size:3rem ;
    background-color: skyblue;
    background-repeat: no-repeat;
    gap: 10rem;
    color:green;
    text-decoration-line: underline;

}

.divmain{
    display: flex;
    justify-content: space-between;

    flex-direction: column;
}

/* logo */
.fig{
    
    display: block;
    object-fit: contain;
    mix-blend-mode: color-burn;
}

/* universitypic */

.pic{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding-top: 10px;
    background-color: antiquewhite;
}

/* form */
.main{
   justify-content: center;
   padding-top: 20px;
}

input{
    padding: 4px;
    font-size:20px;
}

label{
    font-size: 30px;
    
}


figcaption{
    color:green;
    font-size: 40px;
    align-items: center;
   
}


.but{
    height: 40px;
    width: 60px;
    /* border: 1px solid; */
    background-color: aqua;
    ;
}
.but:hover{
    color:green;
}

/* footer */
.fig1{
    padding-top: 10px;
    background-color: skyblue;
    object-fit: contain;
    display: flex;
    justify-content: center;
}
.copy{
    display: flex;
    justify-content: flex-start;
    background-color: skyblue;
}




